{% extends 'base.html.twig' %}

{% block title %}Dictionary{% endblock %}

{% block body %}
    <h1>Dictionary "{{ dictionary.title }}"</h1>

    <div class="uk-margin">
        <a href="{{ url('learning_process', {dictionaryId: dictionary.id}) }}" class="uk-button uk-button-primary">Learn</a>
        <button class="uk-button uk-button-danger" uk-toggle="target: #confirm-reset-progress">Reset Progress</button>
    </div>

    <hr>

    <div uk-grid>
        <div class="uk-width-1-2">
            {{ form_start(dictionary_form) }}
            <legend class="uk-legend">Edit dictionary</legend>
            <div class="uk-margin">
                {{ form_row(dictionary_form.title, {label_attr: {class: 'uk-form-label'}, attr: {class: 'uk-input'} }) }}
            </div>
            <div class="uk-margin">
                {{ form_row(dictionary_form.save, {attr: {class: 'uk-button uk-button-default'}}) }}
            </div>
            {{ form_end(dictionary_form) }}
        </div>
        <div class="uk-width-1-2">
            {{ form_start(entry_form) }}
            <legend class="uk-legend">Add Entry</legend>
            <div class="uk-margin">
                {{ form_row(entry_form.word, { label_attr: {class: 'uk-form-label'}, attr: {class: 'uk-input'} }) }}
            </div>
            <div class="uk-margin">
                {{ form_row(entry_form.transcription, { label_attr: {class: 'uk-form-label'}, attr: {class: 'uk-input'} }) }}
            </div>
            <div class="uk-margin">
                {{ form_row(entry_form.translation, { label_attr: {class: 'uk-form-label'}, attr: {class: 'uk-input'} }) }}
            </div>
            <div class="uk-margin">
                {{ form_row(entry_form.save, { attr: {class: 'uk-button uk-button-default'} }) }}
            </div>
            {{ form_end(entry_form) }}
        </div>
    </div>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-table-shrink">#</th>
                <th>Word</th>
                <th>Translation</th>
                <th  class="uk-text-center">Correct answered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set index = 1 %}
            {% for entry in entries %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ entry.word }}</td>
                    <td>{{ entry.translation }}</td>
                    <td class="uk-text-center">{{ entry.correctAnswered }}</td>
                    <td>
                        <a href="{{ url('entry.delete', {dictionaryId: dictionary.id, entryId: entry.id}) }}" class="button-icon">
                            <img src="{{ asset('assets/images/delete.ico') }}" alt="Delete">
                        </a>
                    </td>
                </tr>
                {% set index = index + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <div id="confirm-reset-progress" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Confirm</h2>
            <p>Are you sure to delete all your progress?</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <a href="{{ url('learning_process.reset_progress', {dictionaryId: dictionary.id}) }}" class="uk-button uk-button-primary" type="button">Reset</a>
            </p>
        </div>
    </div>
{% endblock %}
