{% extends 'base.html.twig' %}

{% block title %}Dictionaries Page{% endblock %}

{% block body %}
{#    <h1>Dictionaries</h1>#}
    <div class="uk-margin">
        <a href="{{ path('dictionary.new') }}" class="uk-button uk-button-primary">Create a Dictionary</a>
    </div>
    {% if dictionaries|length > 0 %}
        <table class="uk-table uk-table-striped uk-table-hover uk-table-middle">
            <thead>
                <tr>
                    <th class="uk-table-shrink">#</th>
                    <th class="uk-table-expand">Title</th>
                    <th class="">Number or words</th>
                    <th class="uk-table-shrink"></th>
                </tr>
            </thead>
            <tbody>
                {% set index = 0 %}
                {% for dictionary in dictionaries %}
                    {% set index = index + 1 %}
                    <tr>
                        <td>{{ index }}</td>
                        <td class="uk-table-link">
                            <a class="uk-link-reset" href="{{ url('dictionary.details', {dictionaryId: dictionary.id}) }}">
                                {{ dictionary.title }}
                            </a>
                        </td>
                        <td>
                            {% if entriesCount[dictionary.id] is defined %}
                                {{ entriesCount[dictionary.id] }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td><a href="{{ url('dictionary.delete', {dictionaryId: dictionary.id}) }}" class="button-icon"><img
                                        src="{{ asset('assets/images/delete.ico') }}" alt="Delete"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>There are no dictionaries!</h3>
    {% endif %}
{% endblock %}
