{% extends 'base.html.twig' %}

{% block title %}New Dictionary{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <legend class="uk-legend">New Dictionary</legend>
        <div class="uk-margin">
            {{ form_row(form.title, {label_attr: {class: 'uk-form-label'}, attr: {class: 'uk-input'} }) }}
        </div>
        <div class="uk-margin">
            {{ form_row(form.save, {attr: {class: 'uk-button uk-button-default'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
