<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/UIkit/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="uk-navbar-container">
            <div class="uk-container  uk-light uk-background-secondary">
                <div class="uk-navbar">
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{{ url('dictionary.list') }}">Dictionaries</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="uk-container">
            <div class="uk-margin-top">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="uk-alert-{{ label }}" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('assets/js/UIkit/uikit.min.js') }}"></script>
        <script src="{{ asset('assets/js/UIkit/uikit-icons.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
