{% extends 'base.html.twig' %}

{% block title %}Learning{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            max-width: 90%;
            margin: 0 auto;
        }

        a {
            color: #000;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if isCorrectAnswer is defined %}
            {% if isCorrectAnswer == true %}
                <div class="answer_correct">You gave correct answer!</div>
            {% else %}
                <div class="answer_wrong">You are wrong. Correct answer is "{{ correctAnswer.translation }}"</div>
            {% endif %}
            <hr>
        {% endif %}

        <h2>{{ conceivedWorld }}</h2>
        <div class="variants">
            {% for variant in variants %}
                <a href="{{ url('learning_process', {dictionaryId: dictionaryId, answer: variant.id}) }}">
                    <button>{{ variant.translation }}</button>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
